%html
	%head
	%body
		%p=@coffee
		
		//以下何杯注文するかのプログラム(未完)
		//%p 何杯作りますか？
		//%form{:action =>"",:method => "post"}
		//	%input{:type =>"text",:name => "cofnum"}			
		//	%input{:type =>"submit"}			
		

		%a{:href => "/coffee"} 注文し直す 

